body {
  color: 212121;
  background-color: #white;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.1;
  max-width: 50em;
  margin: 0 auto;
  padding: 4rem 2rem;
}
p { margin: 1rem 0; }
li { margin: 0.4rem 0; }
a {color: #1565c0; }
